.App {
  background-color: rgba(40, 44, 52, 1);
  color: white;
  font-size: calc(10px + 2vmin);
  /* text-align: center; */
  min-height: 100vh;

  .App-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .App-logo {
      /* animation: App-logo-spin infinite 20s linear; */
      height: 15vmin;
      padding-top: 2em;
    }

    .App-link {
      color: #61dafb
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
